

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


  body{
    font-family: Poppins;
    font-style: normal;
  }

.navbar, .header-img-bg{
    background-color: #264653 !important;
}

.nav-link{
    color: white;

    margin-right: 2rem;
}

.img-bw{
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */   
}
